<div class="container mt-2">

    <div class="py-2 bg-main text-white">
        <div class="col-12">
            <a class="btn btn-sm float-left ml-0 text-white" (click)="voltar()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
        <br>
        <br>
        <h5 class="m-3"> Parada {{ stop?.stop_name }} </h5>
    </div>

    <div class="">
        <div class="col-md-12 mx-0 py-2 mx-0">
            <div *ngIf="trips?.length == 0; else listaTrips">
                Nenhum trajeto ativo para esta rota...
            </div>
            <ng-template #listaTrips>
                <div class="">
                    <iti-map #map> </iti-map>
                    <p class="mt-2"> Confira os trajetos disponíveis: </p>
                </div>

                <div *ngFor="let trip of trips">
                    <iti-trip-item [trip]="trip"> </iti-trip-item>
                </div>

            </ng-template>
        </div>
    </div>
</div>